@import url(https://fonts.googleapis.com/css?family=Abel);

body {
	background-color: #FFFFFF;
	background: url("images/mainphoto.jpeg");
	background-size: cover;
}

.logo {
	margin-top: 20px;
	margin-left: 20px;

}

.links {
	text-align: right;
	margin-right: 50px;

}

a:link {
    color: #808080;
    text-decoration: underline;
    font-family: "Arial";
    margin-right: 10px
}


h1, p {
	font-family: "Arial";
	color: #808080;
	text-align: center;
}